@model List<MyCompany.Models.TournamentModel>

@{
    ViewData["Title"] = "Tournament";
    ViewData["Decsription1"] = "Here you can find all ongoing tournaments.";
}
<div class="section section-text">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <table class="table">
                <thead>
                            <tr>
                                <th>@Model[0].Id</th>
                                <th>@Model[0].TournamentName</th>
                                <th>@Model[0].LastUpdate</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(int i=1 ; i<@Model.Count; i++)
                            {
                                <tr>
                                    <td>@Model[i].Id</td>
                                    <td>@Model[i].TournamentName</td>
                                    <td>@Model[i].LastUpdate</td>
                                </tr>
                            }
                        </tbody>
                    </table>
        </div>
    </div>
</div>
